                                                                {% if files %}
                                                                <div class="row">
                                                                    <div class="col-12 tableau table-responsive mb-5">
                                                                        <table class="table table-hover">
                                                                            <thead>
                                                                                <tr>
                                                                                <th class="pb-3" scope="col">
                                                                                    Name 
                                                                                    {% ifequal state.file_order "ASC" %}
                                                                                    <a href="{% url 'notes:order_note' 'file' %}"  class="order-file">
                                                                                            <i class="order-file fas fa-arrow-up" data-hml="DESC" data-toggle="tooltip" data-placement="bottom" title="Reverse sort Direction"></i>
                                                                                    </a>
                                                                                    {% else %}
                                                                                        <a href="{% url 'notes:order_note' 'file' %}"  class="order-file">
                                                                                            <i class="order-file fas fa-arrow-down" data-hml="ASC" data-toggle="tooltip" data-placement="bottom" title="Reverse sort Direction"></i>
                                                                                        </a>
                                                                                    {% endifequal %}
                                                                                    
                                                                                </th>
                                                                                <th class="pb-4" scope="col">Owner</th>
                                                                                <th class="pb-4" scope="col">Size</th>
                                                                                <th class="pb-3" scope="col">
                                                                                    <div class="drop">
                                                                                        <a class="drop-trigger-2">
                                                                                            <span class="table-filter-mode">{{ state.file_filters }}</span> <i class="fas fa-caret-down"></i>
                                                                                        </a>
                                                                                        <div class="drop-menu file-Drop deactivated">
                                                                                            <ul class="">
                                                                                                <li class="filters-file dropdown-item" data-url="{% url 'notes:filter_note' %}" data-hml="Last Modified">
                                                                                                    <i class=""></i><a href="#" class="file-filt-2"> Last Modified</a>
                                                                                                </li>
                                                                                                <li class="filters-file dropdown-item" data-url="{% url 'notes:filter_note' %}" data-hml="Last Opened">
                                                                                                    <i class=""></i><a href="#" class="file-filt-3"> Last Opened</a>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </th>
                                                                                <th class="pb-4" scope="col">Options</th>
                                                                                </tr>
                                                                            </thead>
                                                                        <tbody>
                                                                        {% for fl in files %}
                                                                            {% ifequal fl.file_type 'file' %}
                                                                            <tr>
                                                                                <th class="fl fl-name">
                                                                                    <a href="">
                                                                                        <i class="far fa-file-alt"></i> {{fl.name}}
                                                                                    </a>
                                                                                    {% ifequal fl.owner request.user %}
                                                                                    <span class="mine"></span>
                                                                                    {% endifequal %}
                                                                                </th>
                                                                            {% ifequal fl.owner request.user %}
                                                                                <th class="fl">Me</th>
                                                                            {% else %}
                                                                                <th class="fl">{{ fl.owner }}</th>
                                                                            {% endifequal %}
                                                                                <th class="fl szl"> {{ fl.size }}</th>
                                                                            {% ifequal filt "last_opened" %}
                                                                            {% if fl.last_opened is not None %}
                                                                                    <th class="fl">{{fl.last_opened}}</th>
                                                                            {% else %}
                                                                                    <th class="fl">Never</th>
                                                                            {% endif %}
                                                                            {% endifequal %}
                                                                            {% ifequal filt "last_editted" %}
                                                                            {% if fl.last_editted is not None %}
                                                                                    <th class="fl">{{fl.last_editted}}</th>
                                                                            {% else %}
                                                                                    <th class="fl">Never</th>
                                                                            {% endif %}

                                                                            {% endifequal %}
                                                                            <th>
                                                                                <div class="drop">

                                                                                    <a id="fd-{{fl.id}}" class="drop-trigger-options">
                                                                                        <i class="fas fa-ellipsis-h"></i>
                                                                                    </a>
                                                                                    
                                                                                    <div class="drop-meny opy-{{fl.id}} deactivated">
                                                                                        <li id="details-{{ fl.id }}" data-id="{{fl.id }}" data-type="{{ fl.file_type }}" data-name="{{ fl.name }}" class="details" data-url="{% url 'trash:details' %}">
                                                                                            <a href="#">
                                                                                                <i class="fas fa-info-circle"></i> Details
                                                                                            </a>
                                                                                        </li>
                                                                                        <li id="recycle-{{ fl.id }}" data-id="{{fl.id }}"data-type="{{ fl.file_type }}"  data-name="{{ fl.name }}" class="recycle" data-url="{% url 'trash:recycle_list' %}">
                                                                                            <a href="#">
                                                                                                <i class="fas fa-trash-restore"></i> Restore
                                                                                            </a>
                                                                                        </li>
                                                                                        <li data-id="{{ fl.id }}" data-type="{{ fl.file_type }}" data-filename="{{ fl.name }}" data-url="{% url 'trash:delete_permanently' %}" class="delete-trigger">
                                                                                            <a href="#" class="">
                                                                                                <i class="far fa-trash-alt"></i> Delete Permanently
                                                                                            </a>
                                                                                        </li>
                                                                                    </div>
                                                                                </div>
                                                                            </th>
                                                                            
                                                                            </tr>
                                                                            {% else %}
                                                                            <tr>
                                                                                <th class="flq">
                                                                                    <a href="" class="flq">
                                                                                        <i class="far fa-file-alt"></i> {{fl.name}}
                                                                                    </a>
                                                                                    {% ifequal fl.owner request.user %}
                                                                                    <span class="mine"></span>
                                                                                    {% endifequal %}
                                                                                </th>
                                                                            {% ifequal fl.owner request.user %}
                                                                                <th class="flq">Me</th>
                                                                            {% else %}
                                                                                <th class="flq">{{ fl.owner }}</th>
                                                                            {% endifequal %}
                                                                                <th class="flq szl"> {{ fl.size }}</th>
                                                                            {% ifequal filt "last_opened" %}
                                                                            {% if fl.last_opened is not None %}
                                                                                    <th class="flq">{{fl.last_opened}}</th>
                                                                            {% else %}
                                                                                    <th class="flq">Never</th>
                                                                            {% endif %}
                                                                            {% endifequal %}
                                                                            {% ifequal filt "last_editted" %}
                                                                            {% if fl.last_editted is not None %}
                                                                                    <th class="flq">{{fl.last_editted}}</th>
                                                                            {% else %}
                                                                                    <th class="flq">Never</th>
                                                                            {% endif %}

                                                                            {% endifequal %}
                                                                            <th>
                                                                                <div class="drop">

                                                                                    <a id="fd-{{fl.id}}" class="drop-trigger-options">
                                                                                        <i class="fas fa-ellipsis-h"></i>
                                                                                    </a>
                                                                                    
                                                                                    <div class="drop-meny opy-{{fl.id}} deactivated">
                                                                                        <li id="details-{{ fl.id }}" data-id="{{fl.id }}" data-type="{{ fl.file_type }}" data-name="{{ fl.name }}" class="details" data-url="{% url 'trash:details' %}">
                                                                                            <a href="#">
                                                                                                <i class="fas fa-info-circle"></i> Details
                                                                                            </a>
                                                                                        </li>
                                                                                        <li id="recycle-{{ fl.id }}" data-id="{{fl.id }}"data-type="{{ fl.file_type }}"  data-name="{{ fl.name }}" class="recycle" data-url="{% url 'trash:recycle_list' %}">
                                                                                            <a href="#">
                                                                                                <i class="fas fa-trash-restore"></i> Restore
                                                                                            </a>
                                                                                        </li>
                                                                                        <li data-id="{{ fl.id }}" data-type="{{ fl.file_type }}" data-filename="{{ fl.name }}" data-url="{% url 'trash:delete_permanently' %}" class="delete-trigger">
                                                                                            <a href="#" class="">
                                                                                                <i class="far fa-trash-alt"></i> Delete Permanently
                                                                                            </a>
                                                                                        </li>
                                                                                    </div>
                                                                                </div>
                                                                            </th>
                                                                            
                                                                            </tr>
                                                                            {% endifequal %}
                                                                        {% endfor %}
                                                                            
                                                                        </tbody>
                                                                            
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                {% else %}
                                                                <div class="row">
                                                                    <div class="col-12 my-5">
                                                                        <h6 class="text-center text-danger">No Files Available</h6>
                                                                    </div>
                                                                </div>
                                                                {% endif %}