{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% load static %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static "lib/bootstrap/css/bootstrap.min.css" %}">

        <!-- icon CSS -->
        <link rel="stylesheet" href="{% static "lib/fontawesome/css/all.css" %}" >
        <link rel="stylesheet" href="{% static "lib/fontawesome/css/fontawesome.min.css" %}" >

        <!-- persnnal CSS -->
        <link rel="stylesheet" href="{% static "css/reminderPage.css" %}" > 

        <title>StudyBudy-Automated E-learning Study Guide-Task Reminder</title>

        <!-- JavaScript -->
        {% load static %}
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static "lib/jquery/jquery-3.4.1.min.js" %}"></script>
        <script src="{% static "lib/jquery/jquery-migrate.min.js" %}"></script>
        <script src="{% static "lib/bootstrap/js/bootstrap.min.js" %}"></script>
        <script src="{% static "lib/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
        <script src="{% static "lib/sweetalert2/dist/sweetalert2.all.min.js" %}"></script>
        <!-- Plugins js -->
        <!-- <script src="js/plugins.js"></script> -->

        
    </head>
    <body class="bg-White">
        {% include 'resources/navbar.html' %}
        {% block content %}
            
        {% endblock %}
        <!--personnal JS-->
        {% load static %}
        <script src="{% static "js/script_6.js" %}"></script>
    </body>
</html>
