        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light-mode border-bottom fixed-top">
                <div class="toggle-nav">
                    <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom">
                        <i class="fas fa-bars"></i>
                    </div>
                </div>

                <a href="{% url 'notes:index' %}" class="logo">
                    STUDY <span class="lite">BUDY</span>
                </a>

                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <!-- <span class="navbar-toggler-icon"></span> -->
                    <i class="fas fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <!-- <li class="nav-item dropdown dropdown-place">
                            <a class="nav-link dropdown-toggle not-caret" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-bell"></i>
                                <span class="info-count"> 6 </span>
                            </a>
                            <div class="dropdown-menu notifications-menu" aria-labelledby="navbarDropdown">
                                <p class="blue">You have 6 pending letter</p>
                                <a class="dropdown-item" href="#">
                                    <div class="task-info">
                                        <div class="desc"> Project 1</div>
                                        <div class="percent">30%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                                        <span class="sr-only">30% Complete (warning)</span>
                                        </div>
                                    </div>
                                </a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">
                                    <div class="task-info">
                                        <div class="desc">Design PSD </div>
                                        <div class="percent">90%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                        <span class="sr-only">90% Complete (success)</span>
                                        </div>
                                    </div>
                                </a>
                                <a href="#">See All Tasks</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown dropdown-place">
                            <a class="nav-link dropdown-toggle not-caret" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-comments"></i>
                                <span class="info-count"> 5 </span>
                            </a>
                            <div class="dropdown-menu message-menu" aria-labelledby="navbarDropdown">
                                <p class="blue">You have 6 pending letter</p>
                                {% load static %}
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="{% static "images/profile-photo/avatar-mini.jpg" %}"></span>
                                    <span class="subject">
                                    <span class="from">Greg  Martin</span>
                                    <span class="time">1 min</span>
                                    </span>
                                    <span class="message">
                                        I really like this admin panel.
                                    </span>
                                </a>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="{% static "images/profile-photo/avatar-mini2.jpg" %}"></span>
                                    <span class="subject">
                                    <span class="from">Bob   Mckenzie</span>
                                    <span class="time">5 mins</span>
                                    </span>
                                    <span class="message">
                                    Hi, What is next project plan?
                                    </span>
                                </a>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="{% static "images/profile-photo/avatar-mini3.jpg" %}"></span>
                                    <span class="subject">
                                    <span class="from">Phillip   Park</span>
                                    <span class="time">2 hrs</span>
                                    </span>
                                    <span class="message">
                                        I am like to buy this Admin Template of the outsid epart of the oga.
                                    </span>
                                </a>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="{% static "images/profile-photo/avatar1_small.jpg" %}"></span>
                                    <span class="subject">
                                    <span class="from">Ray   Munoz</span>
                                    <span class="time">1 day</span>
                                    </span>
                                    <span class="message">
                                        Icon fonts are great.
                                    </span>
                                </a>
                                <a href="#">See all messages</a>
                                
                            </div>
                        </li> -->
                        <li class="nav-item dropdown dropdown-place caret">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Welcome {{ short_name }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'users:profile' %}"><i class="fas fa-user"></i> Profile</a>
                                <a class="dropdown-item" href="{% url 'users:change_password' %}"> <i class="fas fa-key"></i> Change Password</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Log-Out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>