{% extends "base/change_password_base.html" %}
{% load static %}
    {%  block content %}
        <div class="overlay"></div>

        <section class="fieldset-area">
            <div class="loginbox">
                <img src="{% static "images/profile/avatar.png" %}" class="avatar">
                <h1>LOGIN</h1>
                <form id="loginForm">
                    {% csrf_token %}
                    <fieldset>
                        <div class="form-row">
                            <div class="form-group col-12 my-3 error text-center text-danger"></div>
                            <div class="form-group col-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-unlock-alt"></i></span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Enter Old Password" aria-label="Password-old" id="password-old" name="password-old" aria-describedby="basic-addon1">
                                </div>
                            </div>

                            <div class="form-group col-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-unlock-alt"></i></span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Enter New Password" aria-label="Password-new" id="password-new" name="password-new" aria-describedby="basic-addon1">
                                </div>
                            </div>
    
                            <div class="form-group col-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-unlock-alt"></i></span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Confirm New Password" aria-label="Password-confirm" id="password-confirm" name="password-confirm" aria-describedby="basic-addon1">
                                </div>
                            </div>

                            <button type="button" id="changeBtn" data-url= "{%url 'users:change'%}" class="btn btn-outline-primary loginBtn mt-3"> Change</button>
                            <a href="{% url 'notes:index' %}"class="btn btn-danger loginBtn mt-3"> Cancel</a>

                        </div>

                    </fieldset>
                </form>
            </div>
        </section>

        <section class="footer-area">
            <div id="trans-footer">
                <div class="footer-top">
                    <div class="container">
              
                    </div>
                </div>
                <div class="container">
                    <div class="copyright">
                    &copy; Copyright <strong>StudyBudy</strong>. All Rights Reserved
                    </div>
                    <div class="credits">
                    Designed by <a href="https://github.com/Ojooh">Ojooh</a>
                    </div>
                </div>
            </div>
        </section>


        {% endblock %}